// Fonts imports
@import url('https://fonts.googleapis.com/css2?family=Niconne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

// Colors definition
$highlight: #ff6666;
$highlight-alt: #e6efff;
$highlight-flip: #178245;
$base-1: #fdfffc;
$base-2: #114b5f;
