/*TIÊU ĐỀ*/
.section_heading {
    font-weight: 700;
    margin-top: 70px;
    position: relative;
    left: 40%;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    width: 30%;
    color: #e61f1f;
}

.menu_home .menu_home_title:after {
    background: #131212;
}

.line_after_heading:after {
    content: '';
    height: 5px;
    background: #9efafa;
    width: 20%;
    display: block;
}

/*ĐỊA CHỈ 1*/
.contract{
    display: flex;
}

.title-1{
    font-size: 16px;
    font-weight: bold;
    color: #e61f1f;
    position: relative;
    top: 1%;
    left: 35%;
    text-align: center;
}

.but-contract-1{
    float: left;
    padding: 16px;
    text-align: left;
    width: 70%;
    height: 160px;
    position: relative;
    left: 28%;
}
.address-1{
    margin-bottom: 0;
    margin-top: 1%;
}

.telephone-1{
    margin-bottom: 0;
    margin-top: 0;
}

.mail-1{
    margin-bottom: 0;
    margin-top: 0;
}


/*này là cho button mất nền và mất viền*/
.but-contract-1{
    font-family: nav;
    background: none;
    border: solid 1px rgb(204, 199, 199);
    border-radius: 10px;
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2);
}

.but-contract-1:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.contract-1 button:active,
.contract-1 button:focus{
    border: none;
    outline: 0 !important;
    color: rgb(243, 129, 109);
}


.but-map-1{
    font-family: nav;
    height: 20%;
    width: 40%;
    color: white;
    text-align: center;
    border: none;
    background: rgb(243, 44, 44);
    border-radius: 16px;
    position: relative;
    top: 5%;
    left: 25%;
}

/*ĐỊA CHỈ 2*/


/*.title-2{
    font-size: 16px;
    font-weight: bold;
    color: #e61f1f;
    position: relative;
    bottom: 10%;
    left: 30%;
    text-align: center;
}

.but-contract-2{
    float: left;
    text-align: left;
    width: 70%;
    height: 180px;
    padding: 16px;
    position: relative;
    left: 30%;
}*/

.title-2{
    font-size: 16px;
    font-weight: bold;
    color: #e61f1f;
    position: relative;
    top: 1%;
    left: 35%;
    text-align: center;
}

.but-contract-2{
    float: left;
    padding: 16px;
    text-align: left;
    width: 70%;
    height: 160px;
    position: relative;
    left: 28%;
}
.address-2{
    margin-bottom: 0;
    margin-top: 1%;
}

.telephone-2{
    margin-bottom: 0;
    margin-top: 0;
}

.mail-2{
    margin-bottom: 0;
    margin-top: 0;
}



/*này là cho button mất nền và mất viền*/
.but-contract-2{
    font-family: nav;
    background: none;
    border: solid 1px rgb(204, 199, 199);
    border-radius: 10px;
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2);
}

.but-contract-2:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.contract-2 button:active,
.contract-2 button:focus{
    border: none;
    outline: 0 !important;
    color: rgb(243, 129, 109);
}


.but-map-2{
    font-family: nav;
    height: 20%;
    width: 40%;
    color: white;
    text-align: center;
    border: none;
    background: rgb(243, 44, 44);
    border-radius: 16px;
    position: relative;
    top: 5%;
    left: 25%;
}

/*GỬI THÔNG TIN*/
.title-mes > span{
    font-family: nav;
    margin-left: 70px;
    padding-top: 5%;
    font-size: 16px;
}

.title-table{
    font-family: nav;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    color: rgb(73, 70, 70);
}

table{
    /*đưa table vào giữa*/
    margin-left: auto;
    margin-right: auto;
}

.name{
    border: solid 1px rgb(97, 94, 94);
    width: 350px;
    height: 30px;
    margin: 10px;
    margin-bottom: 0;
    margin-top: 0;
    outline: none;
}

.mail{
    border: solid 1px rgb(97, 94, 94);
    outline: none;
    margin: 10px;
    width: 350px;
    height: 30px;
    margin-bottom: 0;
    margin-top: 0;
}
.body{
    border: solid 1px rgb(97, 94, 94);
    outline: none;
    margin: 10px;
    width: 732px;
    height: 30px;
    margin-bottom: 0;
    margin-top: 0;
}

.addree{
    border: solid 1px rgb(97, 94, 94);
    outline: none;
    margin: 10px;
    width: 350px;
    height: 30px;
    margin-bottom: 0;
    margin-top: 0;
}

.table-title{
    border: solid 1px rgb(97, 94, 94);
    outline: none;
    margin: 10px;
    width: 732px;
    height: 30px;
    margin-bottom: 0;
    margin-top: 0;
}

.phone{
    border: solid 1px rgb(97, 94, 94);
    outline: none;
    margin: 10px;
    width: 350px;
    height: 30px;
    margin-bottom: 0;
    margin-top: 0;
}

.but-gui{
    float: right;
    margin-right: 30px;
    height: 30px;
    width: 100px;
    background:  rgb(243, 44, 44);
    margin-top: 10px;
    outline: none;
    border: none;
    color: white;
    border-radius: 25px;
    justify-content: center;
}


