/*TIÊU ĐỀ*/
.section_heading {
    font-weight: 700;
    margin-top: 70px;
    position: relative;
    left: 35%;
    font-size: 25px;
    font-family: nav;
}

.section_heading_1 {
    font-weight: 700;
    position: relative;
    margin-top: 0;
    left: 35%;
    font-size: 25px;
    font-family: nav;
}

h2 {
    width: 50%;
    color: #0a0909;
}

.menu_home .menu_home_title:after {
    background: #131212;
}

.line_after_heading:after {
    content: '';
    height: 5px;
    background: #5cf7f7;
    border-radius: 8px;
    width: 20%;
    display: block;
}

.help-body{
    padding: 20px;
    padding-top: 0;
}