
@media (min-width: 992px){
    .payment-step {
        width: 49%;
    }}
    .payment-step{
        padding: 0 2px;
        position: relative;
        min-height: 500px;
        box-sizing: border-box;
        border-left: 1px solid #dddddd;
        border-right: 1px solid #dddddd;
        border-bottom: 1px solid #dddddd;
    }
    .payment-step::before{
        display: table;
        content: " ";
        box-sizing: border-box;
    }
    .payment-step::after{
        clear: both;
        box-sizing: border-box;
    }
    
    .subtitle{
        margin-top: 0;
        padding: 10px;
        background-color:  #e26c68;
        font-size: 14px;
        text-transform: uppercase;
        color: #ffffff;
        margin-bottom: 0;
    }
    
    .step-preview{
        background-color: #ffffff;
        padding: 10px;
        min-height: 500px;
        border: 1px solid #dddddd;
    }
    .step-preview::before{
        display: table;
        content: " ";
        box-sizing: border-box;
    }
    .step-preview::after{
        clear: both;
        box-sizing: border-box;
    }
    
    .title1{
        font-size: 14px;
        margin: 10px 0;
        font-family: inherit;
        font-weight: 500;
        line-height: 1.1;
        color: inherit;
        margin-block-start: 0.83em;
        margin-block-end: 0.83em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
    }
    
    .info-group{
        margin-bottom: 15px;
    }
    
    .info{
        width: 100%;
        margin-bottom: 2px;
        font-size: 14px;
        display: block;
        height: 30px;
        padding: 6px 12px;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
    
    .checkbox-transport{
        position: relative;
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 14px;
    }
    
    .transport-label{
        margin-right: 15px;
        font-size: 14px;
    }
    
    .transport{
        margin-left: 5px;
        margin-right: 5px;
        font-size: 14px;
    }
    .edit-info{
        height: 40px;
        width: 100%;
        padding-bottom: 12px;
        font-size: 14px;
    }
    .edit-info-button{
        float: right;
        margin-right: 17px;
        background-color: #db8885;
        border: none;
        border-radius: 5%;
        color: white;
        size: 17px;
        height: 30px;
        font-size: 14px;
    }
    .edit-info-button:hover{
        background-color: #d8615d;
    }
    .step-preview button:active,
    .step-preview button:focus{
        border: none;
        outline: 0 !important;
        box-shadow: 10px black;
        background-color:  #d8615d;
    }
    
    .product-info{
        padding: 10px;
        width: 100%;
        min-height: 10%;
        font-size: 14px;
        max-height: 70%;
    }
    
    
    
    @media (min-width: 992px){
        .img-product {
            width: 10%;
        }}
    .img-product{
        width: 100%/9;
        height: 100%/9;
        float: left;
    }
    
    @media (min-width: 992px){
        .name-product {
            width: 70%;
        }}
    .name-product{
        padding-left: 10px;
        padding-right: 10px;
        float: left;
        font-size: 14px;
        width: 70%;
    }
    @media (min-width: 992px){
        .price{
            width: 10%;
    }}
    .price{
        float: right;
        font-size: 14px;
        margin-right: 15px;
    }
    
    .sub-price{
        vertical-align: super;
        font-size: smaller;
     }
    
    .money{
        padding-left: 7px;
    }
    
    .number-money{
        font-size: 14px;
        float: right;
        margin-right: 15px;
    }
    
    .complete-purchase{
        background-color: #d63e39;
        border-radius: 5%;
        border: none;
        float: right;
        color: white;
        width: 24%;
        height: 6%;
        margin-right: 15px;
        size: 15px;
    }
    .complete-purchase:hover{
        background-color: #d32823;
    }
    .payment-step button:active,
    .payment-step button:focus{
        border: none;
        outline: 0 !important;
    }
    
    .comback{
        margin-top: 15px;
        margin-bottom: 15px;
    }
    
    .back{
        background: none;
        border: none;
        color: rgb(87, 81, 81);
    }
    
    .back:hover{
        color: #d63e39;
    }
    
    .comback button:active,
    .comback button:focus{
        border: none;
        outline: 0 !important;
    }
    
    .title2{
        margin-bottom: 50%;
        position: relative;
        width: 99%;
        color: #333333;
        font-size: 17px;
        margin-top: 0;
        margin-left: 0;
        padding-left: 0;
        text-transform: uppercase;
        font-family: inherit;
        line-height: 1.1;
        margin-block-start: 0.67em;
        margin-block-end: 0.67em;
    }
    .title2::before{
        background: #333333 none repeat scroll 0 0;
        bottom: 7px;
        content: "";
        height: 2px;
        position: absolute;
        width: 100%;
        box-sizing: border-box;
    }
    
    .text-address{
        background: #ffffff none repeat scroll 0 0;
        color:#d63e39;
        display: inline-block;
        font-size: 18px;
        position: relative;
        margin-right: 10px;
        padding-right: 10px;
    }
    .contner-title{
        margin-bottom: 5%;
    }
    
    .product-info-admin{
        padding: 10px;
        width: 100%;
        min-height: 10%;
        font-size: 14px;
        max-height: 70%;
        border-bottom: 1px solid #ccc;
    }

    